extend baseEmail

block content
  p Hi #{firstName},
    p Forgot your password? Your Reset Token is:
    br
    p #{token}
    br
    p It's only valid for 10 minutes
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
    p If you did not forget your password, please ignore this email.